footer{
  background-color: rgb(241, 236, 236);
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer ul{
    list-style-type: none;
}

footer #logo{
    display: flex;
    align-items: center;
    padding-top:4rem;
    /* padding-bottom: 1rem; */
    color: rgb(11, 173, 173);
    font-size: 1.4rem;
}
footer #text{
    padding: 1rem;
    /* width: 30vw; */
    text-align: center;
    opacity: 0.7;
}

footer ul{
    /* padding: 1.5rem; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin: 1.5rem 0rem;
}

footer #icons{
    margin-bottom: 3rem;
}

footer #icons li:hover{
    color: rgb(11, 173, 173);
    transform: scale(1.5);
}